<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table width="347" border="1">
  <tr>
    <td width="10">#</td>
    <td width="79">Customer name</td>
    <td width="82">Complaint</td>
    <td width="54">Date</td>
    <td width="88">&nbsp;</td>
  </tr>
    {%  for i in data %}
  <tr>
    <td height="54">{{ loop.index }}&nbsp;</td>
    <td>{{ i.c_name }}</td>
    <td>&nbsp;{{ i.complaint }}</td>
    <td>{{ i.date }}</td>
      {% if i.replay=='pending' %}
    <td><a href="/sendreply/{{ i.complaint_id }}">Replay</a>
        {% else %}
    reply:{{ i.replay }}
    reply date:{{ i.replay_date }}
</td>
        {% endif %}


  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
