{% extends 'adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table class="table table-secondary">
  <tr>
    <td width="168">#</td>
    <td width="168">Customer name</td>
    <td width="168">Phone</td>
    <td width="168">Email</td>
    <td width="168">Address</td>
    <td width="168">Branch name</td>
 <td width="168">photo</td>
    </tr>
    {%  for i in data %}
  <tr>
    <td height="57">{{ loop.index }}</td>
    <td>{{ i.c_name }}</td>
    <td>{{ i.phone }}</td>
    <td>{{ i.email }}</td>
    <td>>PLACE:{{ i.place }}<br>HOUSE NAME:{{ i.house_name }}<br> POST: {{ i.post }} <br> PIN:{{ i.pin }}</td>
    <td>{{ i.Branch_name }}</td>
        <td>><img src="{{ i.photo }}" height="100" width="100"/></td>
    </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}