{% extends 'branchindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table class="table table-secondary">
  <tr>
    <td>#</td>
    <td>name</td>
    <td>address</td>
    <td>email</td>
    <td>phone</td>
    <td>photo</td>
    <td colspan="2">&nbsp;</td>
    </tr>
     {%  for i in data %}

  <tr>
    <td>{{ loop.index }}</td>

    <td>{{ i.c_name }}&nbsp;</td>
    <td>House: {{ i.house_name }}<br>Place: {{ i.place }}<br>Post: {{ i.post }} <br>Pin: {{ i.pin }}</td>
    <td>{{ i.email }}</td>
    <td>&nbsp;{{ i.phone }}</td>
      <td><img src="{{ i.photo }}" height="100" width="100"/> </td>
    <td><a href="/updatecustomer/{{ i.c_id }}#rr "  class=" btn btn-primary">Update</a></td>
    <td><a href="/customerdelete/{{ i.c_id }}"  class=" btn btn-danger">Delete</a></td>
      <td><a href="/addaccount/{{ i.c_id }}#rr"  class=" btn btn-primary">Add account deatails</a></td>

  </tr>

    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}